<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="TestProjects">
		</sectionGroup>	
    </configSections>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

	<appSettings>
		<add key="TestRailUrl" value="https://janison.testrail.com" />
		<add key="TestRailUser" value="xxx" />
		<add key="TestRailPassword" value="yyy" />
		<add key="TestRailTestStatus1" value="Passed" />
		<add key="TestRailTestStatus2" value="Blocked" />
		<add key="TestRailTestStatus3" value="Untested" />
		<add key="TestRailTestStatus4" value="Retest" />
		<add key="TestRailTestStatus5" value="Failed" />
		<add key="TestRailTestStatus6" value="Known Issue" />
		<add key="TestRailTestStatus7" value="Incomplete Automation" />
		<add key="TestRailTestStatus8" value="Removed from Run" />
		<add key="TestRailTestStatus9" value="In Progress" />
		<add key="TestRailTestStatus10" value="Script Failure" />
		<add key="ConfluenceUrl" value="https://janisoncls.atlassian.net" />
		<add key="ConfluenceUser" value="xxx" />
		<add key="ConfluenceApiToken" value="yyy" />
		<add key="ConfluenceSpace" value="JAST" />
		<add key="ConfluenceAncestor" value="210141193" />
		<add key="ConfluencePage" value="2196144403" />
	</appSettings>
	
	<TestProjects>
	
		<TestProject_Janison_Assessment_Merged>
			<add Id="64" Name="Core Assessment"/>
			<TestSuites>
				<add Id="594"/>			<!-- ST Functional - Data Creation -->
				<add Id="519"/>			<!-- ST Functional - People Regression -->
				<add Id="572"/>			<!-- ST Functional - Authoring Regression -->
				<add Id="602"/>			<!-- ST Functional - Delivery Regression -->
				<add Id="603"/>			<!-- ST Functional - Marking Regression -->
			</TestSuites>
		</TestProject_Janison_Assessment_Merged>

	</TestProjects>

</configuration>